<article id="group" class="Screen">
	<header>
		<h1><img src="/assets/logo.png" /></h1>
	</header>
	<section class="Pane">
		<section id="0">
			<hgroup>
				<h2><%= city.name %></h2>
				<h3><%= duration.start %> - <%= duration.end%></h3>
				<h4><%= guests %> guests</h4>
				<img src="<%= city.image %>" />
			</hgroup>
			
			<form>
				<h1>Which types of accommodation do you prefer?</h1>
				<ul>
				<% accommodations.forEach(type => { %>
					<li>
						<input type="checkbox" name="accommodation" value="<%= type.id %>" />
						<label><%= type.label %></label>
					</li>
				<% }); %>
				</ul>
			</form>
			
			<footer>
				<button class="Next">Next</button>
			</footer>
		</section>

		<section id="1">
			<hgroup>
				<h2><%= city.name %></h2>
				<h3><%= duration.start %> - <%= duration.end%></h3>
				<h4><%= guests %> guests</h4>
				<img src="<%= city.image %>" />
			</hgroup>
			
			<form>
				<h1>Which types of rooms do you prefer?</h1>
				<ul>
				<% rooms.forEach(room => { %>
					<li>
						<input type="checkbox" name="room" value="<%= room.id %>" />
						<label><%= room.label %></label>
					</li>
				<% }); %>
				</ul>
			</form>
			
			<footer>
				<button class="Back">Back</button>
				<button class="Next">Next</button>
			</footer>
		</section>


		<section id="2">
			<hgroup>
				<h2><%= city.name %></h2>
				<h3><%= duration.start %> - <%= duration.end%></h3>
				<h4><%= guests %> guests</h4>
				<img src="<%= city.image %>" />
			</hgroup>
			
			<form>
				<h1>Would you like to stay near a specific area?</h1>
				<ul>
					<li>
						<input type="checkbox" name="room" value="1" />
						<label>City Centre</label>
					</li>
					<li>
						<select>
							<% city.districts.forEach(district => { %>
								<option value="<%= district.id %>"><%= district.label %></option>
							<% }); %>
						</select>
					</li>
					<li>
						<input id="slider" type="range" min="1" max="12" value="4" />
						<label>Max <em id="slider_out">1</em> km away</label>
					</li>
				</ul>
			</form>
			
			<footer>
				<button class="Back">Back</button>
				<button class="Next">Next</button>
			</footer>
		</section>

		<section id="3">
			<hgroup>
				<h2><%= city.name %></h2>
				<h3><%= duration.start %> - <%= duration.end%></h3>
				<h4><%= guests %> guests</h4>
				<img src="<%= city.image %>" />
			</hgroup>
			
			<form>
				<h1>Which features matter to you?</h1>
				<ul>
					<% facilities.forEach(type => { %>
					<li>
						<% if (type.hotel_facility_id) { %>
						<input type="checkbox" name="hotel" value="<%= type.hotel_facility_id %>" />
						<% } else if (type.room_facility_id) { %>
						<input type="checkbox" name="room" value="<%= type.room_facility_id %>" />
						<% } %>
						<label><%= type.label %></label>
					</li>
					<% }); %>
				</ul>
			</form>
			
			<footer>
				<button class="Back">Back</button>
				<button class="Skip">Don't Mind</button>
				<button class="Next">Next</button>
			</footer>
		</section>

		<section id="4">
			<hgroup>
				<h2><%= city.name %></h2>
				<h3><%= duration.start %> - <%= duration.end%></h3>
				<h4><%= guests %> guests</h4>
				<img src="<%= city.image %>" />
			</hgroup>
			
			<form>
				<h1>Would you like to see hotel ratings?</h1>
				<div id="rating_ui">⭐️⭐️⭐️</div>
				<ul>
					<li>
						<input id="rating" type="range" min="1" max="5" value="3" />
						<label>Min <em id="rating_out">3</em> out of 5</label>
					</li>
				</ul>
			</form>
			
			<footer>
				<button class="Skip">No Thanks</button>
				<button class="Next">Next</button>
			</footer>
		</section>

		<section id="5">
			<hgroup>
				<h2><%= city.name %></h2>
				<h3><%= duration.start %> - <%= duration.end%></h3>
				<h4><%= guests %> guests</h4>
				<img src="<%= city.image %>" />
			</hgroup>
			
			<form>
				<h1>Would you like to see customer reviews?</h1>
				<div id="review_ui">7.5</div>
				<ul>
					<li>
						<input id="review" type="range" min="10" max="100" value="75" />
						<label>Min <em id="review_out">7.5</em> out of 10</label>
					</li>
				</ul>
			</form>
			
			<footer>
				<button class="Skip">No Thanks</button>
				<button class="Next">Next</button>
			</footer>
		</section>


		<section id="6">
			<hgroup>
					<h2><%= city.name %></h2>
					<h3><%= duration.start %> - <%= duration.end%></h3>
					<h4><%= guests %> guests</h4>
				<img src="<%= city.image %>" />
			</hgroup>
			
			<form>
				<h1>Cost per night?</h1>
				<div id="price_out"></div>
				<ul>
					<li>
						<input id="price" type="range" min="40" max="150" value="80" />
						<label>Max price per night per person</label>
					</li>
				</ul>
			</form>
			
			<footer>
				<button class="Skip">Don't Mind</button>
				<button class="Next">Next</button>
			</footer>
		</section>

		<section id="7">
			<hgroup style="margin:0; border:none;">
				<img style="margin:0;" src="assets/backdrop.jpg" />
			</hgroup>
			
			<div id="well_done">
				<h1>Well Done!</h1>
				<p class="Special">Once the rest of your group votes on search criteria, you'll see a list of accommodation to choose from.</p>
			</div>

			<footer>
				<button class="Close">Close</button>
			</footer>
		</section>

	</section>
</article>

<script type="text/javascript">
	let APP_ID = <%= APP_ID %>;
	let _root = document.getElementById('group');
	let _pane = _root.getElementsByClassName('Pane')[0];
	let _panes = Array.from(_pane.getElementsByTagName('section'));
	let _nexts = Array.from(_pane.getElementsByTagName('button'));


	let _slider = document.getElementById('slider');
	let _slider_out = document.getElementById('slider_out');

	let _rating = document.getElementById('rating');
	let _rating_out = document.getElementById('rating_out');
	let _rating_ui = document.getElementById('rating_ui');

	let _review = document.getElementById('review');
	let _review_out = document.getElementById('review_out');
	let _review_ui = document.getElementById('review_ui');

	let _price = document.getElementById('price');
	let _price_out = document.getElementById('price_out');

	let _current = 0;

	/*
		Messenger SDK shiz... be quick with this!! 3am cut-off.
	*/
	

	let incr = (curr, max) => curr === max ? 0 : curr + 1;
	let decr = (curr, max) => curr === 0 ? max : curr - 1;

	let nav = (curr, max, oper) => {
		_panes[_current].style.display = 'none';
		_current = oper(_current, max);
		_panes[_current].style.display = 'block';
		return _current;
	};

	let close = () => {
		console.log("Here, yo.");
		MessengerExtensions.getContext(
			APP_ID,
			context => {
				console.log("HERE:", context.psid);

				// Let's create our share object... it's gonna be....
				// It'll just be tempalte for now...
				MessengerExtensions.beginShareFlow(
					success => {
						console.log("Noice! Item shared.");
					},
					error => {
						console.error("Ooops. Something went wrong.");
					},
					{
						attachment: {
							type: "template",
							payload: {
								template_type: "generic",
								elements: [{
									title: "Results found for <%= city.name %> 💪️",
									image_url: "<%= city.image %>",
									subtitle: "Everyone submitted. Check out the results!",
									default_action: {
										type: "web_url",
										url: "https://b00k1ng.com/results"
									},
									buttons:[{
										type: "web_url",
										url: "https://b00k1ng.com/results",
										title: "Pick your favourites"
									}]
								}]
							}
						}
					},
					"current_thread"
				);

				MessengerExtensions.requestCloseBrowser(success => {
					console.log('CLOSING!');
				},  error => {
					console.error('Why no?');
				});
			},
			error => {
				console.log(error)
			}
		);
	};
	let next = () => nav(_current, _panes.length - 1, incr);
	let prev = () => nav(_current, _panes.length - 1, decr);
	let update = (target, value) => target.innerHTML = value;
	let render_stars = quantity => {
		let output = "";
		while(quantity > 0) {
			output += "⭐️";
			quantity--;
		}
		return output;
	};
	let render_price = price => {
		return `£${price}${price == 150 ? '+' : ''}`;
	};

	update(_slider_out, _slider.value);
	
	update(_rating_out, _rating.value);
	update(_rating_ui, render_stars(parseInt(_rating.value)));

	update(_review_out, _review.value / 10);
	update(_review_ui, _review.value / 10);

	update(_price_out, render_price(_price.value));

	_slider.addEventListener('input', e => update(_slider_out, e.target.value));
	_rating.addEventListener('input', e => {
		update(_rating_out, e.target.value);
		update(_rating_ui, render_stars(parseInt(e.target.value)));
	});
	_review.addEventListener('input', e => {
		let out = String(e.target.value / 10);
		if (out !== "10")
			out = out.indexOf('.') > -1 ? out : out + '.0';
		update(_review_out, out);
		update(_review_ui, out);
	});
	_price.addEventListener('input', e => update(_price_out, render_price(e.target.value)));

	_nexts.forEach(button => {
		button.addEventListener('click', e => {
			let name = e.target.getAttribute('class');
			if (name === 'Back')
				prev();
			else if (name === 'Next')
				next();
			else if (name === 'Skip')
				next();
			else if (name === 'Close')
				close();
		}, false);
	});
</script>
